<%- title "#{AppSettings['settings.site_name']}: #{@page_title}" %>

<div class="ticket-header row vcenter">
  <div class="col-md-8 text-left">
    <span class="truncate-ellipsis">
      <%= t(:subject) %>
    </span>
  </div>
  <div class="col-md-1">
  </div>
  <div class="last-active less-important col-md-2 text-right">
    <%= t(:last_activity) %>
  </div>
  <div class="col-md-1">
    <button class="btn btn-default"><%= "#{t(:open_ticket, default: 'Nouveau ticket')}" %></button>
  </div>
</div>
<%= render :partial => 'topics/ticket', :collection => @topics %>
<% if @topics.total_count == 0 %>
  <div class="text-center verticalness"><%= t(:no_tickets) %></div>
<% end %>


<div class="text-right">
  <%= paginate @topics %>
</div>

<%# <%= link_to t(:open_new_discussion, default: "Open Discussion"), new_admin_topic_path,
    remote: true, class: 'btn btn-primary' if tickets? %>
<%# <button class="btn btn-primary"><%= "#{t(:open_ticket, default: 'Open a new ticket')}" %>
